* {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5px;
  
}

body {
  background-image: url('https://img1.goodfon.com/wallpaper/nbig/c/96/universe-stars-beskonechnost.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.card {
  height: 250px;
    width: 250px;
    margin: 10px;
    background-color: #efead7;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
  background-color: #ebdfb5;
  transform: translate(0px, 3px);
}


.card>.img-container {
  height: 80%;
  overflow: hidden;
  text-align: center;
}

.card>.img-container>img {
  height: 100%;
  width: 100%
}

.gameHeader {
  padding: 10px 0;
  background-color: rgba(83, 42, 228, 0.637);
  margin-bottom: 5px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  color: white;
  width: 100%;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: stretch;
}

